spring:
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true

  datasource:
    url: jdbc:mysql://localhost:3306/spartastore
    username: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: ${DB_PASSWORD}