spring:
  config:
    import: optional:file:.env[.properties]

  security:
    oauth2:
      client:
        registration:
          google:
            redirect_uri: ${GOOGLE_REDIRECT_URI}
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true

  data:
    redis:
      host: ${REDIS_HOST}
      port: 6379

  datasource:
    url: ${MYSQL_URL}
    username: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: ${MYSQL_DB_PASSWORD}

  jackson:
    serialization:
      write-dates-as-timestamps: false  # LocalDateTime을 ISO-8601 문자열로 변환
    date-format: yyyy-MM-dd HH:mm:ss  # 기본 날짜 형식 지정
    time-zone: Asia/Seoul  # 한국 시간대 적용

  mail:
    host: smtp.naver.com
    port: 465
    username: ${NAVER_MAIL_USER_NAME}
    password: ${NAVER_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
          starttls:
            enable: true

jwt:
  secret:
    key: ${JWT_SECRET_KEY}

toss-payments:
  api:
    secret-key: ${TOSS_SECRET_KEY}
    client-key: ${TOSS_CLIENT_KEY}