name: CD-Pipeline

on:
  push:
    branches:
      - release_v1.0.0
  workflow_run:
    workflows:
      - CI-Pipeline
    types:
      - completed

jobs:
  depoly:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}  # CI가 성공했을 때만 실행
    runs-on: ubuntu-latest